.service {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.service > h1 {
  font-family: var(--font-family);
  font-size: max(2.6vw, 20px);

  word-wrap: break-word;
  width: max(250px, 25vw);
}
.service > p {
  width: 80%;
  font-weight: 100;
  color: rgb(72, 70, 60);
  font-size: 18px;
  line-height: 1.6rem;
  margin: 20px;
  margin-left: 0px;
  font-family: sans-serif;
}
