.services {
  background-color: white;
}
.services::-webkit-scrollbar {
  display: none;
}
.services__intro {
  display: flex;
  justify-content: space-between;
  padding: 10vh;
  align-items: center;
}

.services__left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.services__left h1 {
  font-size: max(3vw, 35px);
  font-family: var(--font-family);
  font-weight: bolder;
  word-wrap: break-word;
  color: #f6924d;
  line-height: 1.03em;
  width: 100%;
}
.services__left hr {
  content: " ";
  width: 21vw;

  color: rgb(6, 28, 70);
  height: 1vh;

  background: linear-gradient(to right, #f6924d, #f6924d);
  border: 1px solid grey;
  border-radius: 10px;
}
/* .services_left{
     border: 100px zigzag #F6924D;
     color:#F6924D;
} */

.services__right {
  flex: 0.5;
  padding: 2rem;
  font-family: sans-serif;
}

.services__right > h3 {
  font-size: max(4vw, 25px);

  margin-bottom: 10px;
}
.services__right > p {
  line-height: 1.7rem;
  font-size: 18px;

  font-weight: lighter;
  color: grey;
  width: 30vw;
}

.all__services__button {
  color: black;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all__services__button > a {
  color: black;
  text-decoration: none;
  font-style: italic;
}
.all__services__button > hr {
  width: 6vw;
  height: 2px;
  content: " ";
  background-color: black;
}

.all__services__button > a:hover {
  color: #f6924d;
}

.services__list {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-bottom: 0;
}

.services__list > .service {
  margin: 30px;
}

@media only screen and (max-width: 600px) {
  .services__list {
    grid-template-columns: auto auto;
  }

  .services__list > .service {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .services__list {
    grid-template-columns: auto auto;
  }

  .services__list > .service {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .services__list {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 400px) {
  .services__list {
    grid-template-columns: auto;
    margin: 10px;
  }
  .services__intro {
    padding: 2vh;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
  }
  .services__left {
    width: 70vw;
  }

  .services__right > p {
    width: 70vw;
  }
  .services__list > .service {
    width: 80vw;
  }
}

@media only screen and (min-width: 1200px) {
  .services__list {
    grid-template-columns: auto auto auto;
  }
}
