.products {
  padding: 10rem;

  background-color: white;
  animation: fadeIn 2s;
}
.products::-webkit-scrollbar {
  display: none;
}

.products > .products__heading > h3 {
  color: var(--color-primary);
  font-size: 3vw;
  font-family: var(--font-family);
}

.products > .products__heading > h1 {
  color: #ffffff00;
  font-family: "Poppins", Sans-serif;
  font-size: 118px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: -3.2px;
  -webkit-text-stroke: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #f6924d;
  stroke: #f6924d;
}

.products__display {
  padding: 2rem;
  display: flex;
}

.products__left {
  flex: 0.3;
}

.products__left > p {
  font-size: 1.2rem;
  padding: 1.4rem;
  font-family: sans-serif;
  font-weight: 550;
}
.products__left > p:hover {
  color: var(--color-primary);
  cursor: pointer;
}
.selected__product {
  border-left: 0.3rem solid var(--color-primary);
}

.products__right {
  flex: 0.65;
}

.product__information {
  transition: all 1000ms;
  animation: fadeIn 2s;
}

@media only screen and (max-width: 800px) {
  .products {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
