.product__information {
  display: flex;
  flex-direction: column;
  animation: fadeIn 2s;
}

.product__information > h1 {
  font-family: var(--font-family2);
  font-size: 25px;
}

.product__information > p {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 18px;
  line-height: 2rem;
  font-weight: lighter;
}
.product__specifications {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}
.product__specifications > p {
  font-family: sans-serif;
}

.product__specifications__heading {
  font-size: 20px;
  font-family: var(--font-family2);
  display: flex;
  font-weight: 500;
  color: var(--color-primary);
  justify-content: space-between;
  margin-left: 20px;
}
p.product__specifications__values {
  margin: 10px;
  margin-left: 0;
  font-family: sans-serif;
  font-size: 17px;
  margin-left: 20px;
}
.product__specifications__values > a > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.platform__links {
  display: flex;
  align-items: center;
}
.platform__links > a {
  margin-left: 10px;
}
.product__image > img {
  margin-top: 2rem;
  width: 100%;
  object-fit: contain;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
