.platforms {
  padding: 10rem;
  height: fit-content;
  background-color: white;
  animation: fadeIn 2s;
}
.platforms::-webkit-scrollbar {
  display: none;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f6924d;
  font-family: var(--font-family);
}

.heading > h1 {
  margin-top: 20px;
}

.platforms__list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-columns: max-content;
}
.platforms__list > p {
  font-family: var(--font-family);
  color: grey;
  font-size: max(2.5vw, 17px);
  margin-left: 30px;
  margin-top: 50px;
}
.platforms__list > p:hover {
  color: #f6924d;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .platforms__list {
    grid-template-columns: auto auto;
  }
}
