.techstack {
  display: flex;
  background: white;
  padding: 10rem;
}
.techstack::-webkit-scrollbar {
  display: none;
}

.techstack__left {
  flex: 0.6;
}
.techstack__left > h3 {
  font-family: var(--font-family2);
  font-size: 1.6rem;
}

.techstack__left > p {
  font-family: var(--font-family2);
  font-size: 5vw;
  color: var(--color-primary);
  word-wrap: break-word;
}

.techstack__right {
  flex: 0.44;
  margin-top: 40px;
}

.techstack__right > p {
  line-height: 1.5;
  margin: 0 0 1em 0;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: lighter;
  word-wrap: break-word;
  color: rgb(56, 55, 55);
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .techstack {
    padding-left: 4rem;
  }
  .techstack__right > p {
    width: 50vw;
    margin-left: 40px;
  }
}
