* {
  margin: 0;
}
:root {
  --font-family: "Montserrat", Sans-serif;
  --font-family2: "Poppins", Sans-serif;
  --color-primary: #f6924d;
}
.app {
  background: linear-gradient(
    to right,
    rgb(86, 69, 127),
    rgb(1, 23, 63),
    rgb(1, 23, 63)
  );
}
.app ::-webkit-scrollbar {
  display: none;
}
